---
layout: default
title: Home
categories: ["Assault Rifle", "Submachine Gun", "Tactical Rifle", "Light Machine Gun", "Sniper Rifle", "Pistol", "Launcher", "Melee"]
---

<h3>Weapons</h3>
{% for category in page.categories %}
<h2>{{ category }}</h2>
<ul>
	{% for weapon in site.weapons%}
		{% if weapon.category == category %}
		<li><p><a href="{{ weapon.url }}">{{ weapon.name }}</a></p></li>
		{% endif %}
	{% endfor %}

</ul>
{% endfor %}


<h1>Latest Classes</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.weapon }} - {{ post.class_name }} By {{ post.author }}</a></h3>
    </li>
  {% endfor %}
</ul>