html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p, li, a {
	font-family: arial;
}
#header {
	border-bottom: 2px solid #f1f1f1;
	padding: 20px 0px;
	padding-left: 20px;
}
#header h1 {
	margin: 0;
}
#sidebar {
	padding: 0;
	margin: 0;
	width: 250px;
	background-color: #f1f1f1;
	position: fixed;
	overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
    top: 79px;
    bottom: 0px;
}
#sidebar {
	a {
		display: block;
		text-decoration: none;
		color: black;
		padding: 2px 2px 1px 0px;
		font-size: 18px;
		padding-left: 15px;
	}
	a:hover {
		background-color: #555;
		color: white;
	}
	h2 {
		margin-left: 15px;
		font-size: 28px
	}
	h3 {
		margin: 0px;
		margin-top: 30px;
		margin-bottom: 5px;
		padding-left: 15px;
	}

}
#content {
	margin-left: 250px;
	padding: 1px 30px;
}